@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Carlito";
	src: url("carlito/Carlito-Regular.ttf");
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	
}

body > .inner {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
	
}

body > .inner > .background {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	
}

/* HEADER */

.block-header {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	padding: 0 300px;
	box-sizing: border-box;
}

.block-header .inner {
	display : flex;
	padding: 50px 0;
	border-bottom: 1.5px solid white;
}

.block-header .nav-item {
	margin: auto;
	width: 33.3%;
	display: flex;
}

.block-header .nav-item > * {
	margin: auto;
}

/* Button help */
/*.block-header .nav-item .button {
	background-color: white;
    border: 1px solid black;
}

.block-header .nav-item .button > span{
    color: black;
}

.block-header .nav-item .button:hover {
	background-color: #d0171e;
    border-radius: 120px;
    border: 1px solid rgba(0,0,0,0.00);
}

.block-header .nav-item .button:hover > span {
	color: white;
}*/



.block-header .absentia img {
    height: 50px;
}

.block-header .espl img {
	height: 50px;
}

/* MAIN */

.block-center {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -35%);
	display: flex;
	flex-direction: column;
}

.block-center h1 {
	color: white;
	font-family : 'Carlito', sans-serif;
	font-size: 80px;
	margin: 0;
	font-weight: 100;
	text-align: center;
}

.block-center h2 {
	color: white;
	font-family : 'Carlito', sans-serif;
	font-size: 35px;
	text-align: center;
	margin: 0;
	margin-bottom: 3rem;
	font-weight: 100;
}

.block-center .inner-button {
	margin: 0 auto;
}

.block-center .inner-button .button {
	cursor: pointer;
}

/* FOOTER */

.block-footer {
	background-color: #2f3336;
}

.block-footer .inner {
	display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.block-footer .inner a, .block-footer .inner p {
	color: white;
	text-decoration: none;
	font-family: "calibri", sans-serif;
	margin: 0;
	cursor: pointer;
}

/* BUTTON */
	/* COMMUN */

.button {
	margin: auto;
	height: auto;
	margin-bottom: 20px;
	padding: 15px 30px 14px;
	text-decoration: none;
	
}

.button.default {
	background-color: #d0171e;
	border-radius: 120px;
	border : 1px solid rgba(0,0,0,0.00);
	cursor: pointer;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.button.default > span{
	color: white;
	margin-top: 1px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Carlito', sans-serif;
}


.button.default:hover {
	background-color: white;
 	color: black;
	border : 1px solid black;
}

.button.default:hover span {
 	color: black;
}


.error {
	color: white;
    font-size: 1rem;
    font-family: sans-serif;
	text-align: center;
	margin: 5px 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* PREVIEW */



body.page-preview > .inner > .background {
	background-image: url("../img/back.jpg");
	z-index: -1;
}

body.page-preview {
	background-color: #f5f5f5;
	background-image: url(../res/material_white.jpg);
    background-repeat: repeat;
}

body.page-preview .background {
	height: 100vh;
}

body.page-preview > .inner {
	height: auto;
	min-height: 90vh;
	
	
}

	/* HEADER */

.page-preview .block-header{
	position: inherit;
	top: 0;
	left: 0;
	width: auto;
	z-index: 10;
}

	/* MAIN */

body.page-preview .block-center .inner-button {
	margin: 70px auto;
	z-index: 9;
}

.page-preview .block-center > .inner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

.page-preview .block-center {
	display: flex;
	position: inherit;
    top: 0;
    right: 0;
    transform: none;
}

.block-center > .error:first-of-type {
	padding-top: 35px;
}

		/* CONTENU */

.page-preview .block-list {
	background: #ffffff;
	padding: 17px 43px;
	border-radius: 10px;
	box-shadow: 0px 14px 20px rgba(0,0, 0 ,0.2);
}

/* Error */
.page-preview .block-list .error {
	text-align: center;
	color: black;
}

/* Select all */

.page-preview .select-all {
	display: flex;
	border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
	margin-right: 5px;
	transition: all .25s ease-in-out;
}

.page-preview .select-all:hover {
	background-color: #e0e0e0;
}

.page-preview .select-all img{
	height: 35px !important;
	width: 35px !important;
	
}

/* Grid */

.page-preview .change-view {
	display: flex;
	border-radius: 50%;
    cursor: pointer;
    height: 40px;
	min-width: 40px;
    width: 40px;
	margin-right: 5px;
	transition: all .25s ease-in-out;
}

.page-preview .change-view:hover {
	background-color: #e0e0e0;
}

.page-preview .change-view img {
	height: 20px !important;
	width: 20px !important;
	margin: auto !important;
}




/* Load */

.page-preview .block-center .button.load {
	background-color: #ffffff;
	border: none;
}

.page-preview .block-center .button.load > span {
	color: black;
}


.page-preview .block-list .inner-button.error {
	margin-top: 30px;
	margin-bottom: 0;
}

.page-preview .block-list .content-promotion {
	display: flex;
	flex-direction: column;
	list-style: none;
	min-width: 500px;
}

.page-preview .block-list .content-promotion > li {
	margin: 10px;
	transition: all .25s ease-in-out;
}

.page-preview .block-list ul {
	font-family : 'Carlito', sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	margin-top: 20px;
}

.item {
	width: 500px;
	background-color: #1870c7;
	border-radius: 120px;
	transition: all .25s ease-in-out;
}

.item.promotion.checked {
    background-color: #409843;
}

.item .inner {
	display: flex;
	padding: 5px 30px;
	position: relative;
	cursor: pointer;
}

.item img {
	height: 35px;
	width: 35px;
	margin: auto 0;
}

.item p {
	color: white;
	font-family: 'Carlito', sans-serif;
	text-align: center;
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
	padding: 0 5px;
    text-overflow: ellipsis;
}

li.item.promotion {
	list-style: none;
	margin: 16px 0;
	padding: 0;
}


		/* RECHERCHE */

.page-preview .block-list .recherche {
	border-bottom: 2px solid #757575;
	font-size: 50px;
	display: flex;
	height: 40px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.page-preview .block-list .recherche input {
	border: none;
	max-width: 100%;
	font-family: 'Carlito', sans-serif;
	font-size: 20px;
	margin: auto 5px;
	width: 100%;
	padding: 6px 0;
}

.page-preview .block-list .recherche img {
	margin: auto 5px;
	height: 40px;
	width: 40px;
}




/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* HELP */


.page-help {
	
}

.page-help .block-center {
	display: flex;
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1000px;
    position: inherit;
    top: 0;
    right: 0;
    transform: none;
}

/* Header */

.page-help .block-header {
	position: inherit;
    top: 0;
    left: 0;
    width: auto;
    z-index: 10;
}


.page-help > .background{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/paper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.page-help .block-center > .inner {
	background: #ffffff;
	padding: 10px 40px;
	border-radius: 10px;
	box-shadow: 0px 14px 20px rgba(0,0, 0 ,0.2);
}

.page-help .block-center section{
	margin: 20px 0;
}

.page-help .block-center h1{
	margin-bottom: 40px;
	font-size: 3.5rem;
}

.page-help .block-center h2{
	text-align: left;
	color: black;
	margin-bottom: 20px;
}

.page-help .block-center a{
	color: black;
}

.page-help .block-center p{
	font-family: 'Calibri', sans-serif;
	line-height: 1.25rem;
}

.page-help .block-center .separator {
	margin: 40px 0;
	height: 0px;
	width: 100%;
	
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* POPUP */

.page-popup {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
}

.popup {
	display: inline-flex;
	background: #ffffff;
	border-radius: 8px;
	height: auto;
	padding: 0 50px;
	margin: 60px;
	z-index: 999;
	position: absolute;
	top: 50%;
	transform: translate(-60%, -50%);
	left: 50%;
}

.popup .inner {
	margin: auto;
	display: flex;
	width: 343px;
	flex-direction: column;
}

	/* ICONS */

.popup .inner .title img {
	height: 20px;
	width: 20px;
}


.popup .inner .name img {
	height: 20px;
	width: 20px;
}

.popup .inner .mail img {
	height: 20px;
	width: 20px;
}

.popup .inner .message img {
	height: 20px;
	width: 20px;
}

	/* FORM */

.popup .title{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 60px;
	margin-top: 43px;
}
.popup .title h1 {
	display: inline-block;
	font-family: 'Carlito', sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	margin: auto;
}

.popup .title img {
	cursor: pointer;
}

.popup .form {
	display: block;
}
.popup .form > div:last-of-type input {
	border: none;
	font-size: 17.16px;
	margin: auto 0;
	margin-left: 14px;
}

.popup .form > div:first-of-type input {
	border: none;
	font-size: 17.16px;
	margin: auto 0;
	margin-left: 10px;
}

.popup .name {
	border-bottom: 2px solid #757575;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.popup .mail {
	border-bottom: 2px solid #757575;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	display: flex;
}

.popup .message {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.popup .message .text {
	padding-bottom: 5px;
	display: flex;
}

.popup .message span {
	font-family: 'Carlito', sans-serif;
	font-size: 18.16px;
	color: #757575;
	margin: auto 0;
	margin-left: 14px;
	
} 
.popup .message textarea {
	border: 2px solid #757575;
	height: 185px;
	width: 423px;
	min-height: 50px;
	min-width: 100%;
	max-width: 100%;
	max-height: 150px;
	margin: 0px;
}

.page-popup .popup .title img {
	display: flex;
}

.popup {
	position: fixed;
    -webkit-animation-name: example;  
    -webkit-animation-duration: 1.5s;   
    -webkit-animation-fill-mode: forwards; 
    animation-name: example;
    animation-duration: 1.5s;    
    animation-fill-mode: forwards;
}


@-webkit-keyframes example {
    from {top: -100%;}
    to {top: 50%;}
}

@keyframes example {
    from {top: -100%;}
    to {top: 50%;}
}
