@charset "utf-8";
/* CSS Document */

.inner {
	background-color: antiquewhite;
	height: 1280px;
    width: 720px;
	margin: 3rem auto;
}

/* HEADER */

.block-header {
	display: flex;
	justify-content: space-around;
	padding-top: 25px;
}

.block-header .absentia {
	display: flex;
	width: 33%;
}
.block-header .absentia img {
	margin: auto;
	height: 33.335433px;
	margin-left: 49px;
}

.block-header .espl {
	display: flex;
	width: 33%;
}

.block-header .espl img {
	margin: auto;
	height: 64.516535px;
}

.block-header .date {
	display: flex;
	width: 33%;
}
.block-header .date p{
	font-family: Carlito;
	font-size: 16px;
	margin: auto;
	margin-right: 49px;
}

/* PROMO */

.class {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.class .promotion p {
	font-family: "Century Gothic", sans-serif;
	font-size: 17.333333px;
	margin-left: 49px;
}

.class .nompromotion p {
	font-family: "Century Gothic", sans-serif;
	font-size: 17.333333px;
	margin-left: 55px;
}


/* TABLEAU */

.table {
	font-family: Arial;
	font-size: 14.5px;
	font-style: normal;
	display: flex;
	border-bottom: 1px solid black;
	margin-left: 70px;
    margin-right: 70px;
}

.table table {
	margin: auto;
}

	/* BORDER */

table {
        border-collapse: collapse;
        margin:100px auto;
    }
    
    td {
        padding: 16px;
    }
    

    .noborders td {
        border:0;
    }

	/*---------*/

.table table>thead {
	background-color: #cd1619;
	color: white;
	border: 0 none;
	
}

.table table>tbody>tr>td:not(:first-of-type){
	text-align: center;
}

.table table>tbody>tr:nth-child(odd){
	background-color: white;
}

.table table>tbody>tr:nth-child(even){
	background-color: #f0eff0;
}
